@import "fonts.css";
@import "normalize.css";

:root {
    --main-vinous-colors: #351212;
}

* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-drag: none;
}

html {
    height: 100%;
    background: linear-gradient(to bottom, #7E6509, #E8C44C) no-repeat;
}

body {
    height: 100%;
    font-family: "Acme", serif;
}

.menu {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 80px;
    width: 145px;
    margin: 0 auto;
    background: #111111;
    box-shadow: 0 0 16px 7px #7E6509;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu__item {
    text-decoration: none;
    width: 115px;
    border-radius: 15px;
    background: #F3B60D;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #111111;
    box-shadow: inset 0 0 9px 4px #7E6509;
    padding: 15px 0;
    transition: background 0.3s;
}

.menu__item:hover {
    background: #F6D667;
    cursor: pointer;
}


